!!!
html
  head
    title= 'gifpumper'
    link(rel='stylesheet', href='/stylesheets/gifpumper.css')
    script(type='text/javascript', src="/javascripts/ajax.js")
    script(type='text/javascript', src="/javascripts/background.js")
    script(type="text/javascript", src="/nowjs/now.js")
    script(type='text/javascript', src="/javascripts/modernizr-1.7.min.js")
    //script(type='text/javascript', src="/javascripts/move_ajax.js")
    script(type='text/javascript', src="/javascripts/main.js")
    script(type='text/javascript', src="/javascripts/communication.js")
    script(type='text/javascript', src="/javascripts/jquery-1.6.4.min.js")
    script(type='text/javascript', src="/javascripts/jquery.animate-colors-min.js")
    <script type="text/javascript" src="/javascripts/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    //<script type="text/javascript" src="/javascripts/aloha/aloha.js"></script>
    //<script type="text/javascript" src="/javascripts/aloha/plugins/com.gentics.aloha.plugins.Format/plugin.js"></script>
    //<script type="text/javascript" src="/javascripts/aloha/plugins/com.gentics.aloha.plugins.Table/plugin.js"></script>
    //<script type="text/javascript" src="/javascripts/aloha/plugins/com.gentics.aloha.plugins.FontSize/plugin.js"></script>
    //<script type="text/javascript" src="/javascripts/aloha/plugins/com.gentics.aloha.plugins.List/plugin.js"></script>
    //<script type="text/javascript" src="/javascripts/aloha/plugins/alohaImg/plugin.js"></script>
    //<style type="text/css" src="/javascripts/aloha/plugins/alohaImg/src/image.css"></style>

  body!= body