!!!
html
  head
    title= 'gifpumper'
    link(rel='stylesheet', href='/public/stylesheets/gifpumper.css')
    script(type='text/javascript', src="/public/javascripts/ajax.js")
    script(type='text/javascript', src="/public/javascripts/background.js")
    script(type="text/javascript", src="/nowjs/now.js")
    script(type='text/javascript', src="/public/javascripts/modernizr-1.7.min.js")
    //script(type='text/javascript', src="/public/javascripts/move_ajax.js")
    script(type='text/javascript', src="/public/javascripts/main.js")
    script(type='text/javascript', src="/public/javascripts/communication.js")
    script(type='text/javascript', src="/public/javascripts/jquery-1.6.4.min.js")
    script(type='text/javascript', src="/public/javascripts/jquery.animate-colors-min.js")
    script(type='text/javascript', src="/public/javascripts/okshadow-1.0.min.js")
    <script type="text/javascript" src="/public/javascripts/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  body!= body