!!!
html
  head
    title= 'gifpumper'
    link(rel='stylesheet', href='/public/stylesheets/gifpumper.css')
    //link(rel='stylesheet', href='/public/stylesheets/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/public/stylesheets/tagify-style.css')
    script(type='text/javascript', src="/public/javascripts/background.js")
    script(type="text/javascript", src="/nowjs/now.js")
    script(type='text/javascript', src="/public/javascripts/modernizr-1.7.min.js")
    script(type='text/javascript', src="/public/javascripts/jsondom.js")
    script(type='text/javascript', src="/public/javascripts/main.js")
    script(type='text/javascript', src="/public/javascripts/communication.js")
    script(type='text/javascript', src="/public/javascripts/jquery-1.7.min.js")
    script(type='text/javascript', src="/public/javascripts/jquery-ui-1.8.16.min.js")
    script(type='text/javascript', src="/public/javascripts/imgUtil.js")

    //script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    //script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js")

    script(type='text/javascript', src="/public/javascripts/photoblaster-0.1.js")
    script(type='text/javascript', src="/public/javascripts/jquery.animate-colors-min.js")
    script(type='text/javascript', src="/public/javascripts/okshadow-1.0.min.js")
    script(type='text/javascript', src="/public/javascripts/jquery.tagify.js")
    <script type="text/javascript" src="/public/javascripts/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
    //<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  body!= body