
html{
/* width:100%; */
/* height:100%; */
z-index:-1000;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	z-index:-1000;
/* 	-webkit-transform: translateZ(-1000px); */
	background-attachment:fixed;
	/* 	position: fixed; */
	/* 	cursor: pointer; */
	/* 	cursor: url(http://thedigit.biz/images/hand.png), url(http://thedigit.biz/images/hand.png), auto; */
/* 	height:100%;  */
/* 	height:2000px: */
/* 	width:2000px: */
	margin:0px;
}


#div3d{

 	height:103%; 
	width:103%;
	
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	
	position:absolute;
/* 	-webkit-perspective-origin: 50% 50%;  */

}

#mainDiv {
 	height:103%; 
	width:103%;

	position:absolute;
/* 	width:100%; */
/*  	height:100%; */
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

}




.uiClosed{

	/* visibility = hidden; */
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	background-color: fuchsia;
	opacity: .9;
	
	display:none;
	
	left: 140px;
	top:70px;
	
	left: 140px;
	top:70px;
	
	-webkit-transform: translate(-100px, -50px) scale(0) translateZ(10000px);
	-moz-transform: translate(-100px, -50px) scale(0);
	-o-transform: translate(-100px, -50px) scale(0) ;
	transform: translate(-100px, -50px) scale(0) translateZ(10000px);
		
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
		
	padding:10px;
	
	-moz-transition: -moz-transform .3s ease-out;
	/* WebKit */
	-webkit-transition: -webkit-transform .3s ease-out;
	/* Opera */
	-o-transition: -o-transform .3s ease-out;/* Standard */
	transition: transform .3s ease-out;
	
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 6px 6px 6pxrgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.6);

}

.uiOpen{

	position: fixed;
	z-index: 10001;
	background-color: fuchsia;
	opacity: .9;
	
	left: 140px;
	top:70px;
	
	display:none;
	
	-webkit-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-moz-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-o-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	
	visibility = visible;
	overflow: hidden;
	padding:10px;
	
	-moz-transition: -moz-transform .3s ease-out;
	/* WebKit */
	-webkit-transition: -webkit-transform .3s ease-out;
	/* Opera */
	-o-transition: -o-transform .3s ease-out;
	/* Standard */
	transition: transform .3s ease-out;
	
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.6);

}



@-webkit-keyframes spin {

	0%   {
         -webkit-transform: rotateY(0deg) rotateX(0deg);
    }
    25%   {
         -webkit-transform: rotateY(90deg) rotateX(20deg);
    }
    50%   {
         -webkit-transform: rotateY(180deg) rotateX(0deg);
    }
    75% {
         -webkit-transform: rotateY(279deg) rotateX(-20deg);
    }
    100% {
         -webkit-transform: rotateY(360deg) rotateX(0deg);
    }

}

@-moz-keyframes spin {

	0%   {
         -moz-transform: rotateY(0deg) rotateX(0deg);
    }
    25%   {
         -moz-transform: rotateY(90deg) rotateX(20deg);
    }
    50%   {
         -moz-transform: rotateY(180deg) rotateX(0deg);
    }
    75% {
         -moz-transform: rotateY(279deg) rotateX(-20deg);
    }
    100% {
         -moz-transform: rotateY(360deg) rotateX(0deg);
    }

}

@-webkit-keyframes none {

	0%  {
	         -webkit-transform: rotateY(0deg) rotateX(0deg);	
	    }
	100%{
	         -webkit-transform: rotateY(0deg) rotateX(0deg);	
	    }


}

@-moz-keyframes none {

	0%  {
	         -moz-transform: rotateY(0deg) rotateX(0deg);
	
	    }
	100%{
	         -moz-transform: rotateY(0deg) rotateX(0deg);
	    }


}    
 
    
.animate {    

               	-webkit-animation-name: spin;
               	-moz-animation-name: spin;

                -webkit-animation-duration: 10s;
                -moz-animation-duration: 10s;

                -webkit-animation-iteration-count: infinite;
                -moz-animation-iteration-count: infinite;

                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;

}

.zspin {    
               	-webkit-animation-name: zspin;
               	-moz-animation-name: zspin;
                -webkit-animation-duration: 2s;
                -moz-animation-duration: 2s;
                -webkit-animation-iteration-count: infinite;
                -moz-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
}

@-webkit-keyframes zspin {

	0%  { -webkit-transform: rotateY(360deg);	
	    }
	100%{ -webkit-transform: rotateY(0deg);	
	    }
}

@-moz-keyframes zspin {

	0%  {
	         -moz-transform: rotateY(3600deg);	
	    }
	100%{
	         -moz-transform: rotateY(0deg);	
	    }


}
.stopAnimate {    

/* 				-webkit-transform: rotateY(0deg) rotateX(0deg); */
/*              	-webkit-animation-name: none; */
                -webkit-animation-duration: 0s;
                -moz-animation-duration: 0s;

/*                 -webkit-animation-iteration-count: 1; */
/*                 -webkit-animation-timing-function: linear; */

/*
	width:100%;
	height:100%;
	//-webkit-transform-style: preserve-3d;
*/
/*
               	-webkit-animation-name: spin;
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: 1; 
                -webkit-animation-timing-function: linear;
*/
}



#shortMenu{
-webkit-transform: translateZ(1000px);
-moz-transform: translateZ(1000px);

}

#console1{
	-webkit-transform: translateZ(1000px);
	-moz-transform: translateZ(1000px);

}

.uiForm{
	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);

	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
}


A:link {
text-decoration: none; 
/* 	padding:3px;padding-top:1px;padding-bottom:1px; */
color:blue;

}
A:visited {
text-decoration: none;
color:blue;

/* color: none; */
}
A:active {
text-decoration: none;
/* text-decoration: none */
}
A:hover {
text-decoration: none;
/* 	background:none; */
}

.button:active  {

	border:none;
   -moz-box-shadow: -1px -2px 3px rgba(130,130,130,1);
   -webkit-box-shadow: -2px -1px 3px rgba(130,130,130,1);
   border-bottom: 1px solid rgba(130,130,130,1);
   background-image:none;
}

.button, button:visited {

	border:none;
    -moz-box-shadow: 1px 2px 3px rgba(130,130,130,1);
    -webkit-box-shadow: 1px 2px 3px rgba(130,130,130,1);
    border-bottom: 1px solid rgba(130,130,130,1);   
   background-image:none;
   background-color:white;  
   
}

.console1{

position:fixed;

}

#topBar{
/*
	-webkit-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	-moz-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	box-shadow: 6px 6px 6px  rgba(130,130,130,1);
*/

}

#online{
	position:fixed;
	padding:7px; 
	padding-bottom:10px; 
	top:5px;
	right:15px;
/* 	background-image:url('http://desizntech.info/wp-content/uploads/2010/05/pattern_5.jpg');	 */
	background-color:white;
	opacity:.7;
	max-height: 250px;
	width:130px;
	z-index: 1000;
	overflow: auto;
	-webkit-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	-moz-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	box-shadow: 6px 6px 6px  rgba(130,130,130,1);
	z-index:10002;
}

.headBar{
	width:100%; 
	height:100%;
	z-index:-1;
/* 	background-image:url('http://desizntech.info/wp-content/uploads/2010/05/pattern_5.jpg'); */
	opacity:.7;
	left:0px;
	top:0px;

	position:absolute;
}

#chatButton{
	position:fixed;
	bottom:10px;
	right: 15px;
	padding:0;
	margin:0;
/* 	background:red; */
/* 	width:20px; */
/* 	height:20px; */
/* 	padding:3px; */
/* 	padding-right:1px; */
/* 	background-image:url('http://desizntech.info/wp-content/uploads/2010/05/pattern_5.jpg');	 */
	opacity:.7;
	-webkit-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	-moz-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	box-shadow: 6px 6px 6px  rgba(130,130,130,1);
	z-index: 999;
	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);
	z-index:10002;

}

.chat{
	width: 150px;
	border: 0px solid;
	border-color:grey;
	-moz-border-radius: 1px;
	border-radius:1px;	
	padding:4px;
	overflow: auto;
	font-size: 12px;
	margin:0;
	z-index:10002;

	}

#chat{

	border: 1px solid;
	border-color:grey;
/* 	-moz-border-radius: 1px; */
/* 	border-radius:1px; */
/* 	background-color:red; */
/* 	padding:0px; */
	height:auto;
	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);
	z-index:10002;
}

#chatBox{

	min-height: 50px;
	max-height: 150px;
	background-color: rgba(255,255,255,.7);
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color:grey;
	-moz-border-radius: 1px;
	border-radius:1px;
	
}

#inputBox{

	min-height: 0px;
	max-height: 200px;
	background-color: rgba(255,255,255,.7);
	border:none;
	margin:0;
/* 	margin-bottom:-3px; */
		
	outline: none;
	resize: none;
/*     overflow: auto;         */
/* 	padding:0; */
/* 	border-bottom: 1px solid; */
}

#menuTop{
/* 	width: 150px; */
	border-color:grey;
	height:30px;
	padding:1px;
/* 	postion:absolute; */
/* 	left:0; */
/* 	top:0;	 */
	opacity: .3;
	font-size: 10px;
	background-color:white;
	z-index:10002;

}

.menuButtonP{

	width:auto;
	padding:3px;
	background-color: rgba(255,255,255,.8);;
	-moz-border-radius: 1px;
	border-radius:1px;
	display:inline;
	border:none;
	z-index:10002;

	background-image:none;
	padding-left:5px;
	padding-right:5px;
	margin-right: 4px;
	
	box-shadow: 1px -1px 1px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 1px -1px 1px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 1px -1px 1px  rgba(126, 126, 126, 0.6); 

/*  border: 1px grey outset; */ */
/* 	text-decoration:line-through; */

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

    cursor: pointer;
    z-index:10002;


}

.menuButton{

	z-index:10002;
	border:none;
    -moz-box-shadow: -20px -5px 15px rgba(130,130,130,1);
    -webkit-box-shadow: -20px -5px 15px rgba(130,130,130,1);
/*     border-bottom: 1px solid rgba(0,0,0,0.1);   */
 
	width:auto;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	background-color: rgba(255,255,255,.8);;
	-moz-border-radius: 2px;
	border-radius:1px;
	display:inline;
	margin-right: 4px;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

    cursor: pointer;

}

.miniButton{

    cursor: pointer;
    
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
    
}

.menuDiv{

	display:block;
	padding-right:3px;
	padding-left:3px;
	border: 0px grey dotted;
	z-index:10002;
}

.selectedEl{
	outline:6px solid;
	outline-color: rgba(255,255,0,.6);
}

.menu{
	margin-top:3px;
	width:auto;
	padding:7px;
	padding-bottom:7px;
	padding-top:7px;
	position:fixed;
	width:auto;
/* 	padding:0; */
	background:none;
	z-index:10002;

	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);

	background-color: rgba(255,255,255,.8);;
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);


}

#rightMenu{
	-webkit-transform: translateZ(10000px);
	z-index:10002;
/* 	text-shadow: white 0.0em 0.0em 4em */
}

#rightMenu a{
/* 	font-weight:bold;	 */
}

.shadow{

	z-index:10000;
/* 	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6); */
/* 	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6); */
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
/* 	-webkit-transform: translateZ(10000px); */

}

.shadow{

	z-index:10000;
/* 	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6); */
/* 	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6); */
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
/* 	-webkit-transform: translateZ(10000px); */
}

#menuContainer{
	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);


}

#editPageMenu{

}

#profileContainer{
	display:none;
	position:fixed;
	top:100px;
	left:100px;
	width:300px;
	
}

#mainFeedDiv{
	display:none;
/* 	position:fixed; */
/* 	top:100px; */
/* 	left:100px; */
	width:25%;
/* 	height:200px; */
/* 	overflow:auto; */
	color:white;
	float:left;
	max-width:350px;

}

#feed{
	display:none;
	top:0px;
/* 	left:33%; */
	width:30%;
/* 	height:210px; */
/* 	overflow:auto; */
	background-color: rgba(255,255,255,.85);
	color:white;
	float:left;
	max-width:380px;

}

#userName{
	padding:10px;
	font-size: 38px;
}

#userImage{
	padding:10px;
	font-size: 38px;
}

#userPages{
	width:25%;
	max-width:350;

/* 	left:50%; */
/* 	overflow:auto; */
/* 	height: 70%; */
	float:left;
/* 	margin:40px auto; */

}
#contributePages{
	left:690px;
/* 	background-color: rgba(255,255,255,.85); */

}
.userPages{
	padding:10px;
	max-width:350px;
/* 	position:fixed; */
/* 	top:100px; */
	display:none;
	background-color: rgba(255,255,255,.85);
	color:grey;
	margin:10px;
	margin-top:40px;
	border-radius: 3px;
	position:relative;

}

.infoDiv{

	font-size: 12px;
	margin-top:-3px;
	margin-bottom:3px;
	color:grey;
/*
	float:right;
	position:absolute;
	bottom:5px;
	right:5px;
*/

}

.mainNotify{
	padding:2px;
	margin-eft:6px;
	display:none;
/* 	position:relative; */
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;
	border-bottom:1px grey dotted;
/* 	border-left:1px grey dotted; */

}

.pageList{
	max-height: 400px;
	font-size: 16px;
	padding:5px;
	color:grey;
}


.shortCut{

	float:right;
}

input[type="text"]{

	font-size: 13px;

}

input[type="password"]{
	font-size: 13px;
}

.ui-autocomplete{

	position:fixed;
	width:200px;
	background:rgba(255,255,255,.9);
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	padding:2px;
	cursor: default; 
	z-index:4000;
	-webkit-transform: translate(0px, 0px)  scale(1) translateZ(11000px);
	-moz-transform: translate(0px, 0px)  scale(1);
	-o-transform: translate(0px, 0px)  scale(1) translateZ(11000px);
	-transform: translate(0px, 0px)  scale(1) translateZ(11000px);
	list-style-type: none;
	display: inline;

}

.ui-menu-item{
/* 	display: inline; */

    display: inline-block;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 1px;
    border: 1px solid #EEE;
    background-color: #eee;
}

.notifyBox{

	background-color:rgba(255,0,100,1);
/* 	background-image:url('http://www.sitevip.net/gifs/stars/ZSTAR_animado.gif'); */
/* 	background-size:20px 20px; */
/* 	position:relative; */
	display:inline;
	width:10px;
	height:10px;
	color:white;
	border-radius: 2px;
/* 	padding:2px 4px 2px 4px; */
/* 	width:auto; */
	margin:2px;
	margin-right:4px;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

    cursor: pointer;
	
}

#notifyDiv{
	padding:10px 4px 10px 0px;
	display:none;
	position:fixed;
	color:grey;
	max-height:300px;
	overflow:auto;
	width:250px;
	color:grey;

}

#pageName{
	padding:2px;
/* 	margin-left:4px; */
	margin-right:4px;
	width:300px;
	color: grey;
/* 	font-size:14px; */
/* 	position:fixed; */
}

.activePages{
	padding: 2px 4px 2px 4px;
	font-size:16px;
	color:grey;
}

.thumbContainer{
	width:40px;
	height:40px;
	overflow:hidden;
	margin:1px 6px 1px 0px;
	float:left;
}

.usersOnline{
	z-index:10002;


}

#alertDiv{
	position:fixed;
	bottom:5px;
	left:5px;
}

#loadingImg{

	-webkit-transform: translate(0px, 0px)  scale(1) translateZ(20000px);
	-moz-transform: translate(0px, 0px)  scale(1) translateZ(20000px);
	-o-transform: translate(0px, 0px)  scale(1) translateZ(20000px);
	-transform: translate(0px, 0px)  scale(1) translateZ(20000px);
}

.twoD{

	-webkit-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-moz-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-o-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
}

.gpui{

	display:none;

}

.menuC{
/*  background-color:rgba(255,255,255,.4); */
padding:8px;
padding-left:16px;

/* 	border-radius:2px; */
	
}
.menuHead{
	outline: 0; 
	border:none;
	padding:4px;
	padding-left:14px;
	cursor:pointer;
/* 	padding-bottom:4px; */
}

#accordion{

/* 	padding:0px; */
/* 	margin:0px; */
	display:none;

}
#mainMenu{
	overflow:auto;
	position:fixed;
	top:100px;
	left:50px;
	width:140px;
	background: rgba(255,255,255,.8);
/* 	padding-bottom:7px; */
/* 	border-radius:2px; */
	padding-top:10px;
	padding-bottom:10px;
/* 	text-align: right; */
/* 	padding-right:10px; */

}

#miniLogo{
/*
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
*/
	display:none;
	position:fixed;
	top:5px;
	left:5px;
	cursor:pointer;
	width:auto;
 	z-index:10002;
	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);
}



#tipDiv{
	z-index:10002;
	-webkit-transform: translateZ(10000px);
	-moz-transform: translateZ(10000px);
	}

.headTab{
	height:18px;
	width:100%;
	cursor:move;
	overflow:hidden;
    display:block;

	border-radius-topleft:4px; 
    border-radius-topright:4px; 
    -moz-border-radius-topleft:4px; 
    -moz-border-radius-topright:4px; 
    -webkit-border-top-left-radius:4px; 
    -webkit-border-top-right-radius:4px; 

background-image: linear-gradient(bottom, rgb(69,231,105) 6%, rgb(73,250,250) 84%);
background-image: -o-linear-gradient(bottom, rgb(69,231,105) 6%, rgb(73,250,250) 84%);
background-image: -moz-linear-gradient(bottom, rgb(69,231,105) 6%, rgb(73,250,250) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(69,231,105) 6%, rgb(73,250,250) 84%);
background-image: -ms-linear-gradient(bottom, rgb(69,231,105) 6%, rgb(73,250,250) 84%);

/*
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(69,231,105)),
		color-stop(0.46, rgb(73,250,250))
	);
*/


}

div.selected{
	border:none;
}

.x {
	position: absolute;
	font-family: Courier New, Courier New, monospace;	
	font-size: 16px;
	top:2px;
	right:2px;
	width: 9px;
	height:9px;
	line-height: 6px;
	box-shadow: -1px 1px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: -1px 1px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: -1px 1px 2px  rgba(126, 126, 126, 0.6);
	z-index: 999;
	border-radius:2px;
	
}

