
html{
/* width:100%; */
/* height:100%; */
z-index:-1000;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 13px;
	z-index:-1000;
/* 	-webkit-transform: translateZ(-1000px); */
	background-attachment:fixed;
	/* 	position: fixed; */
	/* 	cursor: pointer; */
	/* 	cursor: url(http://thedigit.biz/images/hand.png), url(http://thedigit.biz/images/hand.png), auto; */
/* 	height:100%;  */
/* 	height:2000px: */
/* 	width:2000px: */
	margin:0px;

}


#div3d{

 	height:100%; 
	width:100%;
	-webkit-perspective: 600px;
	perspective: 600px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position:absolute;
/* 	-webkit-perspective-origin: 50% 50%;  */

}

#mainDiv {

	position:absolute;
	width:100%;
 	height:100%;
	-webkit-transform-style: preserve-3d;
}




.menuButton{

/* 	background-color:rgba(255,255,255,.6); */

}

.uiClosed{

	/* visibility = hidden; */
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	background-color: fuchsia;
	opacity: .9;
	
	display:none;

	
	left: 140px;
	top:70px;
	
	-webkit-transform: translate(-100px, -50px) scale(0) translateZ(10000px);
	-moz-transform: translate(-100px, -50px) scale(0);
	-o-transform: translate(-100px, -50px) scale(0) ;
	transform: translate(-100px, -50px) scale(0) translateZ(10000px);
		
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
		
	padding:10px;
	
	-moz-transition: -moz-transform .3s ease-out;
	/* WebKit */
	-webkit-transition: -webkit-transform .3s ease-out;
	/* Opera */
	-o-transition: -o-transform .3s ease-out;/* Standard */
	transition: transform .3s ease-out;
	
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 6px 6px 6pxrgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.6);

}

.uiOpen{

	position: fixed;
	z-index: 1000;
	background-color: fuchsia;
	opacity: .9;
	
	left: 140px;
	top:70px;
	
	display:none;
	
	-webkit-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-moz-transform: translate(0px, 0px)  scale(1);
	-o-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	-transform: translate(0px, 0px)  scale(1) translateZ(10000px);
	
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	
	visibility = visible;
	overflow: hidden;
	padding:10px;
	
	-moz-transition: -moz-transform .3s ease-out;
	/* WebKit */
	-webkit-transition: -webkit-transform .3s ease-out;
	/* Opera */
	-o-transition: -o-transform .3s ease-out;
	/* Standard */
	transition: transform .3s ease-out;
	
	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
	box-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.6);

}



@-webkit-keyframes spin {

	0%   {
         -webkit-transform: rotateY(0deg) rotateX(0deg);
    }
    25%   {
         -webkit-transform: rotateY(90deg) rotateX(20deg);
    }
    50%   {
         -webkit-transform: rotateY(180deg) rotateX(0deg);
    }
    75% {
         -webkit-transform: rotateY(279deg) rotateX(-20deg);
    }
    100% {
         -webkit-transform: rotateY(360deg) rotateX(0deg);
    }

}

@-webkit-keyframes none {

	0%  {
	         -webkit-transform: rotateY(0deg) rotateX(0deg);
	
	    }
	100%{
	         -webkit-transform: rotateY(0deg) rotateX(0deg);
	
	    }


}
    
    
.animate {    

               	-webkit-animation-name: spin;
                -webkit-animation-duration: 10s;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
}

.stopAnimate {    

/* 				-webkit-transform: rotateY(0deg) rotateX(0deg); */
/*              	-webkit-animation-name: none; */
                -webkit-animation-duration: 0s;
/*                 -webkit-animation-iteration-count: 1; */
/*                 -webkit-animation-timing-function: linear; */

/*
	width:100%;
	height:100%;
	//-webkit-transform-style: preserve-3d;
*/
/*
               	-webkit-animation-name: spin;
                -webkit-animation-duration: 1s;
                -webkit-animation-iteration-count: 1; 
                -webkit-animation-timing-function: linear;
*/
}



#shortMenu{
-webkit-transform: translateZ(1000px);
}

#console1{
	-webkit-transform: translateZ(1000px);
}

.uiForm{
	-webkit-transform: translateZ(10000px);
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
}


A:link {text-decoration: none; 
/* 	padding:3px;padding-top:1px;padding-bottom:1px; */
}
A:visited {text-decoration: none; color: none;}
A:active {text-decoration: none}
A:hover {
	text-decoration: none; 
	background:none;
}

.button:active  {

	border:none;
   -moz-box-shadow: -1px -2px 3px rgba(130,130,130,1);
   -webkit-box-shadow: -2px -1px 3px rgba(130,130,130,1);
   border-bottom: 1px solid rgba(130,130,130,1);
   background-image:none;
}

.button, button:visited {

	border:none;
    -moz-box-shadow: 1px 2px 3px rgba(130,130,130,1);
    -webkit-box-shadow: 1px 2px 3px rgba(130,130,130,1);
    border-bottom: 1px solid rgba(130,130,130,1);   
   background-image:none;
   background-color:white;  
   
}

.console1{

position:fixed;

}

#topBar{
	-webkit-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	-moz-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	box-shadow: 6px 6px 6px  rgba(130,130,130,1);

}

#online{
	position:fixed;
	padding:7px; 
	padding-bottom:10px; 
	top:5px;
	right:15px;
	background-image:url('http://desizntech.info/wp-content/uploads/2010/05/pattern_5.jpg');	
	opacity:.7;
	max-height: 250px;
	width:120px;
	z-index: 1000;
	overflow: auto;
	-webkit-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	-moz-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	box-shadow: 6px 6px 6px  rgba(130,130,130,1);
	z-index:999;	
}

.headBar{
	width:100%; 
	height:100%;
	z-index:-1;
/* 	background-image:url('http://desizntech.info/wp-content/uploads/2010/05/pattern_5.jpg'); */
	opacity:.7;
	left:0px;
	top:0px;

	position:absolute;
}

#chatButton{
	position:fixed;
	bottom:10px;
	right: 15px;
	padding:0;
	margin:0;
/* 	background:red; */
/* 	width:20px; */
/* 	height:20px; */
/* 	padding:3px; */
/* 	padding-right:1px; */
/* 	background-image:url('http://desizntech.info/wp-content/uploads/2010/05/pattern_5.jpg');	 */
	opacity:.7;
	-webkit-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	-moz-box-shadow: 6px 6px 6px rgba(130,130,130,1);
	box-shadow: 6px 6px 6px  rgba(130,130,130,1);
	z-index: 999;
	-webkit-transform: translateZ(10000px);

}

.chat{
	width: 150px;
	border: 0px solid;
	border-color:grey;
	-moz-border-radius: 1px;
	border-radius:1px;	
	padding:4px;
	overflow: auto;
	font-size: 12px;
	margin:0;
	}

#chat{

	border: 1px solid;
	border-color:grey;
/* 	-moz-border-radius: 1px; */
/* 	border-radius:1px; */
/* 	background-color:red; */
/* 	padding:0px; */
	height:auto;
	z-index: 1000;
	-webkit-transform: translateZ(10000px);

}

#chatBox{

	min-height: 50px;
	max-height: 150px;
	background-color: rgba(255,255,255,.7);
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color:grey;
	-moz-border-radius: 1px;
	border-radius:1px;
	
}

#inputBox{

	min-height: 0px;
	max-height: 200px;
	background-color: rgba(255,255,255,.7);
	border:none;
	margin:0;
/* 	margin-bottom:-3px; */
		
	outline: none;
	resize: none;
/*     overflow: auto;         */
/* 	padding:0; */
/* 	border-bottom: 1px solid; */
}

#menuTop{
/* 	width: 150px; */
	border-color:grey;
	height:30px;
	padding:1px;
/* 	postion:absolute; */
/* 	left:0; */
/* 	top:0;	 */
	opacity: .3;
	font-size: 10px;
	background-color:white;
}

.menuButtonP{

	width:auto;
	padding:3px;
	background-color: rgba(255,255,255,.7);;
	-moz-border-radius: 1px;
	border-radius:1px;
	display:inline;
	border:none;
	z-index:1000;
/* 	-webkit-transform: translateZ(20000px); */

/*
 	box-shadow: -1px -1px 3px rgba(0,0,0,0.3); 
 	-webkit-box-shadow: -1px -1px 3px rgba(0,0,0,0.3); 
	border-bottom: 1px solid rgba(50,50,50,0.1);
*/
/* 	border-right: 1px solid rgba(1,0,0,0.1); */

	background-image:none;
	padding-left:5px;
	padding-right:5px;
	margin-right: 4px;
	
	box-shadow: 1px -1px 1px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 1px -1px 1px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 1px -1px 1px  rgba(126, 126, 126, 0.6); 

/*  border: 1px grey outset; */ */
/* 	text-decoration:line-through; */

}

.menuButton{


	border:none;
    -moz-box-shadow: -20px -5px 15px rgba(130,130,130,1);
    -webkit-box-shadow: -20px -5px 15px rgba(130,130,130,1);
/*     border-bottom: 1px solid rgba(0,0,0,0.1);   */
 
	width:auto;
	padding:3px;
	padding-left:5px;
	padding-right:5px;
	background-color: rgba(255,255,255,.6);;
	-moz-border-radius: 1px;
	border-radius:1px;
	display:inline;
	margin-right: 4px;


}



.menuDiv{

	display:block;
	padding-right:3px;
	padding-left:3px;
	border: 0px grey dotted;

}

.selected{
	border:6px solid;
	border-color: rgba(255,255,0,.6);
}

.menu{
	margin-top:3px;
	width:auto;
	padding:7px;
	padding-bottom:7px;
	padding-top:7px;
	position:fixed;
	width:auto;
/* 	padding:0; */
	background:none;
	z-index:1000;
	-webkit-transform: translateZ(10000px);
	background-color: rgba(255,255,255,.7);;
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);


}

#rightMenu{
	-webkit-transform: translateZ(10000px);

}

.shadow{

/* 	-webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6); */
/* 	-moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6); */
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-transform: translateZ(10000px);

}

#menuContainer{
	-webkit-transform: translateZ(10000px);


}

#editPageMenu{

}

#profileContainer{
	display:none;
	position:fixed;
	top:100px;
	left:100px;
	width:300px;	
}

#userName{
	padding:10px;
	font-size: 38px;
}

#userImage{
	padding:10px;
	font-size: 38px;
}

#userPages{
	left:410px;
}
#contributePages{
	left:640px;
}
.userPages{
	padding:10px;
	width:200px;
	position:fixed;
	top:100px;
	display:none;
}

.infoDiv{

	font-size: 10px;

	margin-top:-3px;
	margin-bottom:3px;
/*
	float:right;
	position:absolute;
	bottom:5px;
	right:5px;
*/

}

.pageList{
	max-height: 400px;
	font-size: 16px;
	overflow:auto;
	padding:5px;

/* 	box-shadow: -1px -1px 0px  rgba(0, 0, 0, 0.6); */
}


.shortCut{

	float:right;
}

input[type="text"]{

	font-size: 13px;

}

input[type="password"]{
	font-size: 13px;
}

.ui-autocomplete{

	position:fixed;
	width:200px;
	background:rgba(255,255,255,.9);
	box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: 2px 2px 2px  rgba(126, 126, 126, 0.6);
	padding:2px;
	cursor: default; 
	z-index:4000;
	-webkit-transform: translate(0px, 0px)  scale(1) translateZ(11000px);
	-moz-transform: translate(0px, 0px)  scale(1);
	-o-transform: translate(0px, 0px)  scale(1) translateZ(11000px);
	-transform: translate(0px, 0px)  scale(1) translateZ(11000px);
	list-style-type: none;
	display: inline;

}

.ui-menu-item{
/* 	display: inline; */

    display: inline-block;
    padding: 3px 5px;
    margin: 3px;
    border-radius: 1px;
    border: 1px solid #EEE;
    background-color: #eee;
}

.x {
	position: absolute;
	font-family: Courier New, Courier New, monospace;	
	font-size: 14px;
	top:0px;
	right:1px;
	width: 8px;
	height:8px;
	line-height: 6px;
	box-shadow: -1px 1px 2px  rgba(126, 126, 126, 0.6);
	-webkit-box-shadow: -1px 1px 2px  rgba(126, 126, 126, 0.6);
	-moz-box-shadow: -1px 1px 2px  rgba(126, 126, 126, 0.6);
	z-index: 999;
}

